In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv
import os

In [2]:
#read csv file 
pop2020_df = pd.read_csv("../CleanedData/cleaned_population.csv")

In [3]:
# loop- go through each row and calculate change in rate from 2018 to 2019 

pop2020_df["2018-2019 Population Rate"] = ''

for row in pop2020_df:
    rate_19 = ((pop2020_df['2019 Population']- pop2020_df['2018 Population'])/pop2020_df['2018 Population'])*100
    pop2020_df['2018-2019 Population Rate'] = rate_19
    
del pop2020_df["Unnamed: 0"]    

sorted_pop = pop2020_df.sort_values(by=['2018-2019 Population Rate'], ascending = False)    
sorted_pop

,City,State,2018 Population,2019 Population,2020 Population,2018-2019 Population Rate
153,Frisco,TX,188452,200490,"215,060",6.387834
162,McKinney,TX,191748,199177,"208,487",3.874356
143,Murfreesboro,TN,141442,146900,"151,066",3.858826
71,Port St. Lucie,FL,194808,201846,"206,410",3.612788
107,Henderson,NV,309518,320189,"330,084",3.447619
...,...,...,...,...,...,...
103,St. Louis,MO,303419,300576,"293,792",-0.936988
164,Pasadena,TX,152733,151227,"151,891",-0.986034
92,Shreveport,LA,189360,187112,"183,819",-1.187157
93,Baltimore,MD,602443,593490,"590,479",-1.486116
101,Jackson,MS,163772,160628,"160,080",-1.919742

In [4]:
#convert 2020 population data type to int
sorted_pop = sorted_pop.replace(',','', regex=True)
sorted_pop['2020 Population'] = pd.to_numeric(sorted_pop['2020 Population'])
sorted_pop.dtypes

City                          object
State                         object
2018 Population                int64
2019 Population                int64
2020 Population                int64
2018-2019 Population Rate    float64
dtype: object

In [5]:
# loop- go through each row and calculate change in rate from 2019 to 2020

sorted_pop["2019-2020 Population Rate"] = ''

for row in sorted_pop:
    rate_20 = ((sorted_pop['2020 Population']- sorted_pop['2019 Population'])/sorted_pop['2019 Population'])*100
    sorted_pop['2019-2020 Population Rate'] = rate_20
sorted_pop2 = sorted_pop.sort_values(by=['2019-2020 Population Rate'], ascending = False)
sorted_pop2.to_csv("sorted_population.csv")
sorted_pop2

,City,State,2018 Population,2019 Population,2020 Population,2018-2019 Population Rate,2019-2020 Population Rate
153,Frisco,TX,188452,200490,215060,6.387834,7.267195
168,Salt Lake City,UT,200435,200567,213367,0.065857,6.381907
27,Irvine,CA,281732,287401,303956,2.012196,5.760244
162,McKinney,TX,191748,199177,208487,3.874356,4.674234
175,Bellevue,WA,147064,148164,154647,0.747974,4.375557
...,...,...,...,...,...,...,...
92,Shreveport,LA,189360,187112,183819,-1.187157,-1.759909
136,Pittsburgh,PA,300570,300286,294860,-0.094487,-1.806944
103,St. Louis,MO,303419,300576,293792,-0.936988,-2.257000
121,Fayetteville,NC,210748,211657,205646,0.431321,-2.839972
76,Columbus,GA,194169,195769,189296,0.824024,-3.306448

In [6]:
sorted_pop2['Diff in Pop Rate 2018-2020'] = ''
for row in sorted_pop:
    diff_rate = (sorted_pop['2019-2020 Population Rate']- sorted_pop['2018-2019 Population Rate'])
    sorted_pop2['Diff in Pop Rate 2018-2020'] = diff_rate
sorted_pop_final = sorted_pop2.sort_values(by=['Diff in Pop Rate 2018-2020'], ascending = False)
sorted_pop_final.to_csv("sorted_population_final.csv")
sorted_pop_final

,City,State,2018 Population,2019 Population,2020 Population,2018-2019 Population Rate,2019-2020 Population Rate,Diff in Pop Rate 2018-2020
168,Salt Lake City,UT,200435,200567,213367,0.065857,6.381907,6.316051
64,Hialeah,FL,234941,233339,243208,-0.681873,4.229469,4.911342
111,Jersey City,NJ,263851,262075,271099,-0.673107,3.443289,4.116396
27,Irvine,CA,281732,287401,303956,2.012196,5.760244,3.748048
169,Alexandria,VA,159069,159428,165748,0.225688,3.964172,3.738484
...,...,...,...,...,...,...,...,...
10,Surprise,AZ,137717,141664,142049,2.866022,0.271770,-2.594253
11,Tempe,AZ,191746,195805,194218,2.116863,-0.810500,-2.927363
121,Fayetteville,NC,210748,211657,205646,0.431321,-2.839972,-3.271293
163,Midland,TX,142173,146038,145012,2.718519,-0.702557,-3.421076
76,Columbus,GA,194169,195769,189296,0.824024,-3.306448,-4.130472

In [7]:
#finding the cities with the most drastic population change
top1819 = sorted_pop2.nlargest(20, '2018-2019 Population Rate')
toprate = sorted_pop2.nlargest(20, '2019-2020 Population Rate')
top1819.to_csv("../TopBottom/mostchangedpop18-19.csv")
toprate.to_csv("../TopBottommostchangedpop19-20.csv")
toprate

top = sorted_pop_final.nlargest(20, 'Diff in Pop Rate 2018-2020')
top.to_csv("../TopBottom/mostratechange18-20.csv")

In [8]:
#finding the cities with the least drastic population change
bottom1819=sorted_pop2.nsmallest(20, '2018-2019 Population Rate')
bottomrate=sorted_pop2.nsmallest(20, '2019-2020 Population Rate')
bottom1819.to_csv("leastchangedpop18-19.csv")
bottomrate.to_csv("leastchangedpop19-20.csv")
bottomrate

bottom = sorted_pop_final.nsmallest(20, 'Diff in Pop Rate 2018-2020')
bottom.to_csv("../TopBottom/leastratechange18-20.csv")