In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv
import os

In [2]:
#read csv file 
housing_df = pd.read_csv("cleaned_inventory.csv")

In [4]:
housing_df.columns

Index(['Unnamed: 0', 'City', '2018-02-28', '2018-03-31', '2018-04-30',
       '2018-05-31', '2018-06-30', '2018-07-31', '2018-08-31', '2018-09-30',
       '2018-10-31', '2018-11-30', '2018-12-31', '2019-01-31', '2019-02-28',
       '2019-03-31', '2019-04-30', '2019-05-31', '2019-06-30', '2019-07-31',
       '2019-08-31', '2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31',
       '2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30', '2020-05-31',
       '2020-06-30', '2020-07-31', '2020-08-31'],
      dtype='object')

In [10]:
#January 2018 not included in data 
columns_pull = ['City', '2018-02-28', '2018-03-31', '2018-04-30',
       '2018-05-31', '2018-06-30', '2018-07-31', '2018-08-31', '2018-09-30',
       '2018-10-31', '2018-11-30', '2018-12-31']
housing_2018 = housing_df[columns_pull]

housing_2018

,City,2018-02-28,2018-03-31,2018-04-30,2018-05-31,2018-06-30,2018-07-31,2018-08-31,2018-09-30,2018-10-31,2018-11-30,2018-12-31
0,United States,238000.0,243000.0,245000.0,249500.0,255000.0,250000.0,249900.0,245000.0,244000.0,245500.0,248000.0
1,New York,399840.0,395000.0,400000.0,414782.0,425000.0,430000.0,430000.0,420000.0,408147.0,410000.0,402000.0
2,Los Angeles,625000.0,630000.0,635000.0,650000.0,652000.0,645000.0,650000.0,635000.0,635000.0,640000.0,625000.0
3,Chicago,217500.0,230000.0,239000.0,240000.0,249900.0,243000.0,233000.0,229000.0,222000.0,223000.0,220000.0
4,Dallas,255000.0,265000.0,265000.0,275000.0,280000.0,274000.0,267000.0,260000.0,257000.0,258000.0,264900.0
...,...,...,...,...,...,...,...,...,...,...,...,...
116,Faribault,218500.0,194900.0,220000.0,202750.0,221000.0,222318.0,236306.0,225000.0,208676.0,220000.0,225000.0
117,Albemarle,135000.0,143000.0,155000.0,143250.0,142750.0,139000.0,164000.0,150000.0,151500.0,142000.0,155000.0
118,Kerrville,215000.0,235000.0,253125.0,250000.0,266000.0,257500.0,223500.0,228000.0,263000.0,256500.0,267500.0
119,Shelbyville,160000.0,155500.0,160000.0,166800.0,164000.0,162500.0,171000.0,194900.0,161000.0,166500.0,162450.0
120,Wilmington,115500.0,152250.0,135000.0,123150.0,129000.0,137500.0,128300.0,130000.0,126000.0,115250.0,126250.0

In [11]:
#12 months included in 2019 
columns_pull = ['City', '2019-01-31', '2019-02-28',
       '2019-03-31', '2019-04-30', '2019-05-31', '2019-06-30', '2019-07-31',
       '2019-08-31', '2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31']
housing_2019 = housing_df[columns_pull]
housing_2019

,City,2019-01-31,2019-02-28,2019-03-31,2019-04-30,2019-05-31,2019-06-30,2019-07-31,2019-08-31,2019-09-30,2019-10-31,2019-11-30,2019-12-31
0,United States,243000.0,242500.0,250000.0,253000.0,260000.0,265000.0,262500.0,260000.0,256000.0,255500.0,258000.0,260000.0
1,New York,410000.0,410000.0,400000.0,410000.0,420000.0,435000.0,440000.0,435000.0,427500.0,424450.0,419986.0,420000.0
2,Los Angeles,615000.0,629000.0,640000.0,650000.0,645000.0,653500.0,670000.0,650000.0,650000.0,650000.0,650000.0,655000.0
3,Chicago,216000.0,222000.0,232500.0,240000.0,246000.0,249500.0,249000.0,242000.0,235000.0,231000.0,231250.0,230000.0
4,Dallas,249900.0,259000.0,267000.0,269093.0,280000.0,283000.0,277000.0,275000.0,270000.0,270000.0,270000.0,275000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,Faribault,219450.0,211700.0,229900.0,239500.0,240000.0,255000.0,245000.0,267000.0,247495.0,240500.0,237500.0,240000.0
117,Albemarle,154000.0,165000.0,165000.0,169950.0,170500.0,192500.0,174500.0,184000.0,180000.0,179000.0,169500.0,194000.0
118,Kerrville,240500.0,247500.0,242500.0,255750.0,289000.0,267000.0,236250.0,235000.0,232750.0,318500.0,239750.0,256750.0
119,Shelbyville,160000.0,197200.0,185000.0,179900.0,183500.0,176900.0,187900.0,201000.0,194825.0,193950.0,191500.0,205000.0
120,Wilmington,120000.0,124000.0,128800.0,135000.0,158950.0,140000.0,123050.0,135000.0,142500.0,137500.0,134000.0,136500.0

In [12]:
columns_pull = ['City', '2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30', '2020-05-31',
       '2020-06-30', '2020-07-31', '2020-08-31']
housing_2020 = housing_df[columns_pull]
housing_2020

,City,2020-01-31,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31
0,United States,254000.0,259900.0,265000.0,267000.0,264820.0,272500.0,284000.0,285500.0
1,New York,423000.0,423750.0,420000.0,435000.0,434950.0,445000.0,448250.0,455000.0
2,Los Angeles,655000.0,658000.0,679000.0,665000.0,650000.0,681500.0,710000.0,725000.0
3,Chicago,223000.0,225000.0,248000.0,260000.0,251000.0,254000.0,262000.0,270000.0
4,Dallas,265000.0,273900.0,280000.0,285000.0,280000.0,290000.0,300000.0,300000.0
...,...,...,...,...,...,...,...,...,...
116,Faribault,225450.0,226200.0,255500.0,253750.0,265000.0,267983.0,280000.0,264000.0
117,Albemarle,157000.0,192000.0,168000.0,169000.0,175000.0,200000.0,184100.0,183000.0
118,Kerrville,268000.0,273500.0,278500.0,275079.0,304500.0,265650.0,281063.0,298750.0
119,Shelbyville,187495.0,174950.0,189000.0,189950.0,209150.0,187000.0,213000.0,198000.0
120,Wilmington,139900.0,135450.0,128600.0,138450.0,138500.0,160000.0,165000.0,159900.0