In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv
import os

In [2]:
#read csv file 
pop2020_df = pd.read_csv("cleaned_population.csv")

In [4]:
pop2020_df["2018-2019 Population Rate"] = ''

# loop- go through each row and calculate change in rate from 2018 to 2019 
for row in pop2020_df:
    rate_19 = ((pop2020_df['2019 Population']- pop2020_df['2018 Population'])/pop2020_df['2018 Population'])*100
    pop2020_df['2018-2019 Population Rate'] = rate_19
    
# del pop2020_df["Unnamed: 0"]    
sorted_pop = pop2020_df.sort_values(by=['2018-2019 Population Rate'], ascending = False)    
sorted_pop

,Unnamed: 0,City,State,2018 Population,2019 Population,2020 Population,2018-2019 Population Rate
153,153,Frisco,TX,188452,200490,"215,060",6.387834
162,162,McKinney,TX,191748,199177,"208,487",3.874356
143,143,Murfreesboro,TN,141442,146900,"151,066",3.858826
71,71,Port St. Lucie,FL,194808,201846,"206,410",3.612788
107,107,Henderson,NV,309518,320189,"330,084",3.447619
...,...,...,...,...,...,...,...
103,103,St. Louis,MO,303419,300576,"293,792",-0.936988
164,164,Pasadena,TX,152733,151227,"151,891",-0.986034
92,92,Shreveport,LA,189360,187112,"183,819",-1.187157
93,93,Baltimore,MD,602443,593490,"590,479",-1.486116
101,101,Jackson,MS,163772,160628,"160,080",-1.919742

In [10]:

sorted_pop = sorted_pop.replace(',','', regex=True)
sorted_pop['2020 Population'] = pd.to_numeric(sorted_pop['2020 Population'])
sorted_pop.dtypes

Unnamed: 0                     int64
City                          object
State                         object
2018 Population                int64
2019 Population                int64
2020 Population                int64
2018-2019 Population Rate    float64
2019-2020 Population Rate     object
dtype: object

In [11]:
sorted_pop["2019-2020 Population Rate"] = ''

for row in sorted_pop:
    rate_20 = ((sorted_pop['2020 Population']- sorted_pop['2019 Population'])/sorted_pop['2019 Population'])*100
    sorted_pop['2019-2020 Population Rate'] = rate_20

sorted_pop2 = sorted_pop.sort_values(by=['2019-2020 Population Rate'], ascending = False)
sorted_pop2

,Unnamed: 0,City,State,2018 Population,2019 Population,2020 Population,2018-2019 Population Rate,2019-2020 Population Rate
153,153,Frisco,TX,188452,200490,215060,6.387834,7.267195
168,168,Salt Lake City,UT,200435,200567,213367,0.065857,6.381907
27,27,Irvine,CA,281732,287401,303956,2.012196,5.760244
162,162,McKinney,TX,191748,199177,208487,3.874356,4.674234
175,175,Bellevue,WA,147064,148164,154647,0.747974,4.375557
...,...,...,...,...,...,...,...,...
92,92,Shreveport,LA,189360,187112,183819,-1.187157,-1.759909
136,136,Pittsburgh,PA,300570,300286,294860,-0.094487,-1.806944
103,103,St. Louis,MO,303419,300576,293792,-0.936988,-2.257000
121,121,Fayetteville,NC,210748,211657,205646,0.431321,-2.839972
76,76,Columbus,GA,194169,195769,189296,0.824024,-3.306448