In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv
import os

In [36]:
#read csv file 
pop2020_df = pd.read_csv("cleaned_population.csv")

In [37]:
# loop- go through each row and calculate change in rate from 2018 to 2019 

pop2020_df["2018-2019 Population Rate"] = ''

for row in pop2020_df:
    rate_19 = ((pop2020_df['2019 Population']- pop2020_df['2018 Population'])/pop2020_df['2018 Population'])*100
    pop2020_df['2018-2019 Population Rate'] = rate_19
    
del pop2020_df["Unnamed: 0"]    

sorted_pop = pop2020_df.sort_values(by=['2018-2019 Population Rate'], ascending = False)    
sorted_pop

,City,State,2018 Population,2019 Population,2020 Population,2018-2019 Population Rate
153,Frisco,TX,188452,200490,"215,060",6.387834
162,McKinney,TX,191748,199177,"208,487",3.874356
143,Murfreesboro,TN,141442,146900,"151,066",3.858826
71,Port St. Lucie,FL,194808,201846,"206,410",3.612788
107,Henderson,NV,309518,320189,"330,084",3.447619
...,...,...,...,...,...,...
103,St. Louis,MO,303419,300576,"293,792",-0.936988
164,Pasadena,TX,152733,151227,"151,891",-0.986034
92,Shreveport,LA,189360,187112,"183,819",-1.187157
93,Baltimore,MD,602443,593490,"590,479",-1.486116
101,Jackson,MS,163772,160628,"160,080",-1.919742

In [38]:
#convert 2020 population data type to int
sorted_pop = sorted_pop.replace(',','', regex=True)
sorted_pop['2020 Population'] = pd.to_numeric(sorted_pop['2020 Population'])
sorted_pop.dtypes

City                          object
State                         object
2018 Population                int64
2019 Population                int64
2020 Population                int64
2018-2019 Population Rate    float64
dtype: object

In [39]:
# loop- go through each row and calculate change in rate from 2019 to 2020

sorted_pop["2019-2020 Population Rate"] = ''

for row in sorted_pop:
    rate_20 = ((sorted_pop['2020 Population']- sorted_pop['2019 Population'])/sorted_pop['2019 Population'])*100
    sorted_pop['2019-2020 Population Rate'] = rate_20
sorted_pop2 = sorted_pop.sort_values(by=['2019-2020 Population Rate'], ascending = False)
sorted_pop2.to_csv("sorted_population.csv")
sorted_pop2

,City,State,2018 Population,2019 Population,2020 Population,2018-2019 Population Rate,2019-2020 Population Rate
153,Frisco,TX,188452,200490,215060,6.387834,7.267195
168,Salt Lake City,UT,200435,200567,213367,0.065857,6.381907
27,Irvine,CA,281732,287401,303956,2.012196,5.760244
162,McKinney,TX,191748,199177,208487,3.874356,4.674234
175,Bellevue,WA,147064,148164,154647,0.747974,4.375557
...,...,...,...,...,...,...,...
92,Shreveport,LA,189360,187112,183819,-1.187157,-1.759909
136,Pittsburgh,PA,300570,300286,294860,-0.094487,-1.806944
103,St. Louis,MO,303419,300576,293792,-0.936988,-2.257000
121,Fayetteville,NC,210748,211657,205646,0.431321,-2.839972
76,Columbus,GA,194169,195769,189296,0.824024,-3.306448

In [40]:
#finding the cities with the most drastic population change
top1819 = sorted_pop2.nlargest(21, '2018-2019 Population Rate')
toprate = sorted_pop2.nlargest(21, '2019-2020 Population Rate')
top1819.to_csv("mostchangedpop18-19.csv")
toprate.to_csv("mostchangedpop19-20.csv")
toprate

,City,State,2018 Population,2019 Population,2020 Population,2018-2019 Population Rate,2019-2020 Population Rate
153,Frisco,TX,188452,200490,215060,6.387834,7.267195
168,Salt Lake City,UT,200435,200567,213367,0.065857,6.381907
27,Irvine,CA,281732,287401,303956,2.012196,5.760244
162,McKinney,TX,191748,199177,208487,3.874356,4.674234
175,Bellevue,WA,147064,148164,154647,0.747974,4.375557
64,Hialeah,FL,234941,233339,243208,-0.681873,4.229469
140,Clarksville,TN,156376,158146,164496,1.131887,4.015277
169,Alexandria,VA,159069,159428,165748,0.225688,3.964172
67,Miami,FL,462819,467963,486388,1.111450,3.937277
176,Seattle,WA,742235,753675,783137,1.541291,3.909112
138,Sioux Falls,SD,180398,183793,190519,1.881950,3.659552
74,Tampa,FL,397232,399700,413704,0.621299,3.503628
111,Jersey City,NJ,263851,262075,271099,-0.673107,3.443289
167,Waco,TX,137886,139236,144015,0.979070,3.432302
75,Atlanta,GA,498183,506811,523738,1.731894,3.339904
132,Eugene,OR,170701,172622,178329,1.125360,3.306068
134,Salem,OR,172646,174365,179944,0.995679,3.199610
107,Henderson,NV,309518,320189,330084,3.447619,3.090362
149,Dallas,TX,1341802,1343573,1382270,0.131987,2.880156
4,Chandler,AZ,257186,261165,268675,1.547129,2.875577
143,Murfreesboro,TN,141442,146900,151066,3.858826,2.835943

In [41]:
#finding the cities with the least drastic population change
bottom1819=sorted_pop2.nsmallest(21, '2018-2019 Population Rate')
bottomrate=sorted_pop2.nsmallest(21, '2019-2020 Population Rate')
bottom1819.to_csv("leastchangedpop18-19.csv")
bottomrate.to_csv("leastchangedpop19-20.csv")
bottomrate

,City,State,2018 Population,2019 Population,2020 Population,2018-2019 Population Rate,2019-2020 Population Rate
76,Columbus,GA,194169,195769,189296,0.824024,-3.306448
121,Fayetteville,NC,210748,211657,205646,0.431321,-2.839972
103,St. Louis,MO,303419,300576,293792,-0.936988,-2.257000
136,Pittsburgh,PA,300570,300286,294860,-0.094487,-1.806944
92,Shreveport,LA,189360,187112,183819,-1.187157,-1.759909
90,Baton Rouge,LA,222190,220236,216701,-0.879428,-1.605096
106,Omaha,NE,477299,478192,470702,0.187094,-1.566316
171,Newport News,VA,178523,179225,177064,0.393227,-1.205747
84,Indianapolis,IN,880739,886220,875929,0.622318,-1.161224
131,Tulsa,OK,400414,401190,396543,0.193799,-1.158304
49,Santa Clarita,CA,213549,212979,210543,-0.266918,-1.143775
2,Mobile,AL,189809,188720,186804,-0.573735,-1.015261
60,Bridgeport,CT,144772,144399,143010,-0.257647,-0.961918
117,Rochester,NY,206004,205695,203792,-0.149997,-0.925156
11,Tempe,AZ,191746,195805,194218,2.116863,-0.810500
129,Toledo,OH,274864,272779,270651,-0.758557,-0.780119
181,Milwaukee,WI,591375,590157,585589,-0.205961,-0.774031
23,Garden Grove,CA,172195,171644,170328,-0.319986,-0.766703
163,Midland,TX,142173,146038,145012,2.718519,-0.702557
118,Yonkers,NY,199883,200370,199021,0.243643,-0.673254
21,Fremont,CA,237811,241110,239525,1.387236,-0.657376