In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
#reading csvs from raw data sets
pop_df = pd.read_csv("cleaned_population.csv")
inventory_df = pd.read_csv("cleaned_inventory.csv")
rental_df = pd.read_csv("cleaned_rental.csv")

In [7]:
pop_df

,Unnamed: 0,City,State,2018 Population,2019 Population,2020 Population
0,0,Birmingham,AL,210487,209403,"208,940"
1,1,Huntsville,AL,198125,200574,"202,910"
2,2,Mobile,AL,189809,188720,"186,804"
3,3,Montgomery,AL,198899,198525,"197,282"
4,4,Chandler,AZ,257186,261165,"268,675"
...,...,...,...,...,...,...
177,177,Spokane,WA,219332,222081,"223,266"
178,178,Tacoma,WA,216111,217827,"222,603"
179,179,Vancouver,WA,182887,184463,"186,516"
180,180,Madison,WI,257854,259680,"264,030"
181,181,Milwaukee,WI,591375,590157,"585,589"

In [ ]:
#rate